---
layout: default
title: craiginiowa
bodyclass: home
links: [animated-site-logo.css]
scripts: [animated-site-logo.js]
---

<!-- <main> -->
<section class="animated-background">
</section>

<section class="page-content">
  <div class="animated-site-logo home"></div>

  {%- assign pinned = site.posts | where: "pinned", true | first -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% if pinned %} 
  <div class="post preview pinned">
    <label>PINNED BLOG ENTRY</label>
    <h6 class="timestamp">{{ pinned.date | date: date_format }}</h6>
    <a class="post-title" href="{{ pinned.url | relative_url }}">
      <h2>{{ pinned.title | escape }}</h2>
    </a>
    {{ pinned.excerpt }}
    <a class="read-more right-caret" href="{{ pinned.url | relative_url }}">READ MORE</a>
  </div>
  {% endif %}

  {%- assign latest = site.posts | where: "pinned", false | first -%}
  {% if latest %}
  <div class="post preview">
    <label>LATEST BLOG ENTRY</label>
    <h6 class="timestamp">{{ latest.date | date: date_format }}</h6>
    <a class="post-title" href="{{ latest.url | relative_url }}">
      <h2>{{ latest.title | escape }}</h2>
    </a>
    {{ latest.excerpt }}
    <a class="read-more right-caret" href="{{ latest.url | relative_url }}">READ MORE</a>
  </div>
  {% endif %}

  {% include collection-thumbs.html collection=site.developer name='developer' path='/developer/' featured=true %}

  {% include collection-thumbs.html collection=site.graphics name='graphic artist' path='/graphics/' featured=true %}

  {% include collection-thumbs.html collection=site.illustrations name='illustrator' path='/illustrations/' featured=true %}

  {% include console.log.html id="homelog" content=site.posts %}

</section>

<!-- </main> -->
