---
layout: default
title: craiginiowa
bodyclass: home
links: [animated-site-logo.css]
scripts: [animated-site-logo.js]
---

<!-- <main> -->
<section class="animated-background">
</section>

<section class="page-content">
  <div class="animated-site-logo home"></div>

  {% include collection-thumbs.html collection=site.developer name='developer' path='/developer/' featured=true %}

  {% include collection-thumbs.html collection=site.graphics name='graphic artist' path='/graphics/' featured=true %}

  {% include collection-thumbs.html collection=site.illustrations name='illustrator' path='/illustrations/' featured=true %}

  {% include console.log.html id="homelog" content=site.posts %}

</section>

<!-- </main> -->
