<div class="thumbnails-container">
    {% if include.name %}
    <a class="thumbnails-more-link right-caret" href="{{ include.path | relative_url }}">{{ include.name }}</a>
    {% endif %}
    <div class="thumbnails-grid">
        {% if include.featured %}
            {% assign collection = include.collection | where: "featured", "true" | where: "published", "true" | sort: "sortorder" | slice: 0, 4 %}
        {% else %}
            {% assign collection = include.collection | where: "published", "true" | sort: "title" %}
        {% endif %}

        {% for item in collection %}
        <div class="thumbnail-wrapper">
            <a href="{{ item.url | relative_url }}">
                <div class="thumbnail-inner">
                        {% assign thumbnail = item.thumbnail | default: "no-image.png" %}
                        <img class="thumbnail-image" src="{{ thumbnail | prepend: "assets/img/" | relative_url }}">
                        <div class="thumbnail-promo-text">
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.description }}</p>
                        </div>
                </div>
            </a>
            <h4>{{ item.title }}</h4>
        </div>
        {% endfor %}
    </div>
</div>
