---
---

@import "mystyles";

.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.home::after {
    background-image: url('/assets/img/calvin-and-hobbes.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    bottom: 0;
    content: '';
    height: 80vh;
    opacity: .2;
    position: absolute;
    right: 0;
    width: 80vw;
    z-index: -1;
}
