---
layout: default
---
<div class="page-content portfolio{% if page.code %} code{% endif %}">
  <section class="column content">
    {% for image in page.images %}
    <img class="portfolio-image" src="{{ image | prepend: "assets/img/" | relative_url }}">
    {% endfor %}
    {% if page.code %}
      {% assign local = page.code | slice: 0, 4 %}
      {% if  local == "http" %}
    <iframe src="{{ page.code }}"></iframe>
      {% else %}
    <iframe src="{{ page.code | prepend: 'assets/code/' | relative_url }}"></iframe>
      {% endif %}
    {% endif %}
  </section>
  <section class="column text">
    <p><a class="back-link" href="{{ page.cid | relative_url }}">&#8592; {{ page.cid }}</a></p>
    {{ content }}
  </section>
</div>
